.hero-section {
  width: 100%;
  height: 100vh;
  background: url("../../images/arabescato-gold-laminam.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1.5rem;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25); /* Try 0.05–0.08 */
  z-index: 0;
}


.hero-inner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  padding-bottom: 25vh;
  position: relative;
  z-index: 1;
}

.hero-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-line {
  font-family: 'Bodoni Moda', serif;    
  font-size: clamp(36px, 9vw, 90px);
  text-transform: uppercase;
  color: var(--color-navy);
  display: block;
  line-height: 1.1;
  margin: 0;
}

.hero-tagline {
  font-family: 'Work Sans', sans-serif;
  font-size: clamp(22px, 5.7vw, 56px);
  font-weight: 250;
  font-style: normal;
  line-height: 1.1;
  display: inline-block;
  text-align: center;
  margin-top: 0.rem;
  padding: 0;
  color: var(--color-gold);
}
